<div class="container-movimientos ">

   <div class="container-title ">

   <p class="title m-0" > Ultimos Movimientos </p>

  </div>
  <div *ngFor="let transferencia of transfer" class="transferencia" >
<div class="datos-cliente  " >
  <img class="icon" src="../../../../assets/Img/FotoPerfil.png" alt="">
  <div class="container-text">
    <div class="operacion" > Transferencia {{transferencia.tipo|Transaccion}} </div>
    <div class="contacto">a {{transferencia.name}} </div>
  </div>
</div>
<div class="fecha-monto" >
<div class="monto"> {{transferencia.monto |currency}} </div>
<div class="fecha">{{transferencia.fecha}} </div>
</div>
</div>
<div class="footer">
  <button mat-button color="accent">Ver Todas <mat-icon color="accent" fontIcon="chevron_right"></mat-icon> </button>
</div>
</div>