<div class="fondo d-flex justify-content-center align-items-center flex-column " >
    <div class="bloque mb-4  mt-4">
        <p class="title ">¿Cuánto transferir? </p>
       
            <form class="example-form  ">
                <mat-form-field class="example-full-width">
                  <mat-label>Ingrese Monto</mat-label>
                  <input matInput   >
                </mat-form-field>
                
            </form>
            <div class="dinero">
                $10.000 disponibles
            </div>
    
       
        <button mat-raised-button class="boton  " color="accent">Continuar</button>
    </div>
</div>
