<div class="container">
  <mat-card class="color mt-3 mb-3">
    <mat-card-header>
      <mat-card-title class="Titulo d-flex text-center"
        >Ahora,una selfie</mat-card-title
      >
    </mat-card-header>

    <mat-card-content>
      <form class="example-form d-flex flex-column mb-3">
        <p class="d-flex p-1 Color2">A tener en cuenta</p>
        <ul class="Color">
          <li>Busca un lugar con luz y no uses flash</li>
          <li>Limpia tu camara y mantenela quieta</li>
          <li>Verifica que sea legible la informacion</li>
        </ul>
      </form>
      <div>
        <p class="Color2">DNI de frente</p>
        <div class="input-group d-flex pb-2">
          <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
      </div>

      <div id="dropzone" class="d-flex align-items-center justify-content-center flex-column m-0" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
        <img src="../../../../../assets/Img/Nube.png" alt="">
          <div class="arrastrar">Arrastra y suelta los archivos aquí.</div>
        </div>
    </mat-card-content>

    <div class="C_B">
      <button mat-raised-button color="accent" class="botones">
        Continuar
      </button>
    </div>
  </mat-card>
</div>
