<div class="container">
  <mat-card class="color mt-3 mb-3">
    <mat-card-header>
      <mat-card-title class="Titulo d-flex text-center">Para finalizar,necesitamos tu numero de telefono</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="example-form d-flex flex-column mb-3">
        <div>
      <p class="d-flex p-2 ">Te enviamos un código a tu teléfono. Por favor, ingrésalo para verificar tu número.</p>

      <form class="example-form">
        <mat-form-field class="example-full-width ">
          <mat-label >Ingresar Codigo</mat-label>
          <input type="tel" matInput placeholder="555-555-1234">
        </mat-form-field>
      </form>
     </div>

      </form>
      <button mat-raised-button class="botones " color="accent" >Confirmar Codigo</button>
      <button mat-raised-button class="botones" color="accent">Reenviar Codigo</button>
    </mat-card-content>



  </mat-card>
</div>
