<div class="fondo d-flex justify-content-center align-items-center flex-column " >
<div class="bloque mb-4  mt-4">
    <p class="title ">A qué cuenta transferir </p>

    
    <div class="contenedor d-flex justify-content-between">
        <div class="d-flex align-items-center"><img class="add" src="../../../../assets/Img/Add.png" alt="">
            <p class="text m-0 ">NUEVA CUENTA
            </p>
        </div>
        <mat-icon>keyboard_arrow_right</mat-icon>
        
    </div>
    <div class="contenedor d-flex justify-content-between">
        <div class="d-flex align-items-center"><img class="add" src="../../../../assets/Img/QR.png" alt="">
            <p class="text m-0 ">USAR CODIGO QR
            </p>
        </div>
        <mat-icon>keyboard_arrow_right</mat-icon>
        
    </div>
</div>

<div class="container-recientes mb-4">

    <div class="container-title ">
 
    <p class="title " >Cuentas Recientes </p>
 
   </div>
   <div *ngFor="let transferencia of transfer" class="recientes" >
 <div class="datos-cliente d-flex align-items-center" >
   <img class="icon" src="../../../../assets/Img/FotoPerfil.png" alt="">
   <div class="container-text">
     <div class="name" > {{transferencia.name}} </div>
     <div class="bank">Banco Galicia </div>
   </div>
 </div>
 <mat-icon>keyboard_arrow_right</mat-icon>
 </div>

 </div>

</div>
