<div class="fondo d-flex justify-content-center align-items-center flex-column">
   
  
    <div class="container-movimientos">
      <div class="ct justify-content-between">
        <div class="t">Datos de tu cuenta</div>
        <img src="../../../../../assets/Img/copy.png" alt="" />
      </div>
  
      <div class="cr ">
        <div class="ti">Usuario</div>
        <div class="ti">Juan Perez</div>
        
      </div>
      <div class="cr ">
        <div class="ti">Email</div>
        <div class="ti">juanperez@gmail.com</div>
        </div>
    </div>
    <div class="container-movimientos">
        <div class="ct justify-content-between">
          <div class="t">Datos personales</div>
          <img src="../../../../../assets/Img/copy.png" alt="" />
        </div>
    
        <div class="cr ">
          <div class="ti">Nombre</div>
          <div class="ti">Juan Perez</div>
          
        </div>
        <div class="cr ">
            <div class="ti">DNI</div>
            <div class="ti">45563369</div>
            
          </div>
          <div class="cr ">
            <div class="ti">Fecha de nacimiento</div>
            <div class="ti">18/09/2001</div>
            
          </div>
        <div class="cr ">
          <div class="ti">Telefono</div>
          <div class="ti">3525588841</div>
          </div>
      </div>
  
    
  </div>
  